

@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    opacity: 0;
    transition: opacity 1s;
}

.video-playing body {
    opacity: 1;
}

a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

p {
    margin: 0;
}

img {
    width: 60px;
    padding-left: 60px;
}

.placeholder {
    display: flex;
    flex-direction: column;
}

video {
    width: 100vw;
    opacity: 0;
    position: fixed;
}

#map {
    position: fixed;
    height: 60vh;
    width: 100vw;
    background-color: lightskyblue;
}

.podatki {
    background-image: url(SlikeDemo2/FindMy-main.png);
    background-size: contain;
    background-repeat:no-repeat;
    height: 87vh;
    width: 100%;
    z-index: 10;
    margin-top: -2vh;
    border-radius: 40px;
    overflow: visible;
    
}

.find {

    text-align: center;   
}

.stop {
    position: absolute;
    width: 430px;
    height: 300px;
    margin-top: 265px;
    margin-left: -489px;
}

.find-button {
    font-size: 40px;
    background-color: transparent;
    border-radius: 20px;
    border-style: none;
    width: 430px;
    height: 300px;
    margin-top: 265px;
    margin-left: -473px;
    border: 10px solid rgb(87, 64, 192);
    color: transparent;
    animation: blink-border 0.5s infinite alternate;
}

@keyframes blink-border {
    from {
        border-color: rgb(94, 83, 197);
    }
    to {
        border-color: transparent;
    }
}

#popup {
    position: fixed;
    background-color: #393f4b;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid green;
    border-radius: 50px;
    text-align: center;
    width: 600px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 20%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-img {
    width: 120px;
    border-radius: 50px;
    padding-right: 50px;
    padding-top: 20px;
    z-index: 10;
}

.popup-p {
    font-size: 50px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}

